# Python
__Pycache__/
*.pyc
*.pyo

# MicroPico local configuration
#.micropico

# VS code
3.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Virtual environments
venv/
.venv/

# Secrets / local configuration
.env
secrets.py